


<div class="hero">
        
        <div class="img-container">

            
    
            {{#if isApplicant}}
            <img src="/static/images/login_img2.svg" loading="lazy" />
            {{else}} 
            <img src="/static/images/company_bg.jpg" loading="lazy" />
            {{/if}}
           
          
         </div>
    


    <form id="login_form" action=" {{#if isApplicant}} /userLogin {{else}} /companyLogin {{/if}}" method="post">
    {{#if messages.error}}
                <div class="auto-close alert alert-danger">
                    {{messages.error}}
                </div>
    {{/if}}
        <h3 id="h3">{{#if isApplicant}} Excited to have you join our network  {{else}} Ready to grow? Sign in and get started{{/if}}</h3>
        <div class="input-group">           
            <input type="email" id="email" name="email" required/>
            <label for="email">Email</label>
        </div>

        <div class="input-group">       
            <input type="password" id="password" name="password" required/> 
            <label for="password">Password</label> 
            <i class="fa-regular fa-eye-slash" id="icon"></i>
            
        </div>

        <button> {{#if isApplicant}} Sign in as Applicant  {{else}} Sign in as Company{{/if}}</button> <br>
        <span>By clicking Continue, you agree to <strong>Better World's</strong> User Agreement, Privacy Policy, and Cookie Policy.</span>
        <a href="{{#if isApplicant}} /userRegister {{else}} /companyRegister {{/if}}"  id="registerPromo">New to Better World? Join now</a>

    </form>

</div>

