


   <div class="register_hero">
    {{!-- <img src="/images/bg_Register.jpg">
     --}}

     <form id="register_form" action="{{#if isApplicant}} /userRegister {{else}} /companyRegister {{/if}}"  method="post">
   
        <h3 id="h3_register">{{#if isApplicant}} Maximize Your Career Potential {{else}} Enter Company Details{{/if}}</h3>
        
        <span style="color: red">{{error.name.msg}}</span>    
        <div class="input-group">           
            <input type="text" id="name" name="name" value={{values.name}} >
            <label for="name">Name</label>
        </div>

          <span style="color: red">{{error.phone.msg}}</span>
          <div class="input-group">           
            <input type="number" id="phone" name="phone" value={{values.phone}}>
            {{log values}}
            <label for="phone">Phone</label>
        </div>
       
        <span style="color: red">{{error.address.msg}}</span>
        <div class="input-group">           
            <input type="text" id="address" name="address" value={{values.address}} >
            <label for="address">Address</label>
        </div>
        
        <span style="color: red">{{error.email.msg}}</span>
        <div class="input-group">           
            <input type="text" id="email" name="email" value={{values.email}} >
            <label for="email">Email</label>
        </div>

          <span style="color: red">{{error.password.msg}}</span>  
        <div class="input-group">     
            <input type="password" id="password" name="password" value={{values.password}}> 
            <label for="password">Password</label> 
            <i class="fa-regular fa-eye-slash" id="icon"></i>  
        </div>
        

         <span>By clicking Continue, you agree to <strong>Better World's</strong> User Agreement, Privacy Policy, and Cookie Policy.</span>

        <button> Agree & Join</button>
       
        <p id="loginPromo">Already on Better World? <a href="{{#if isApplicant}} /userLogin {{else}} /companyLogin {{/if}}"> {{#if isApplicant}} Sign in as Applicant {{else}} Sign in as company{{/if}}  </a> </p> 

    </form>

    </div>




