  <main>  
       
    <div class="container">
            <div class="sidebar">
                <div class="top">
                   <div class="profile-img">
                    <img src="/static/profilePictures/{{data.applicant_profilePic}}" alt="ProfilePic" />
                    </div>
                    <h1>{{data.applicant_name}}</h1>
                </div>
        
                <div class="item">
                    <ul>
                        <li><a href="/applicant/jobs">Dashboard</a></li>
                        <li><a href="/applicant/profile">Profile</a></li>
                        <li><a href="/applicant/trackStatus">Track Status</a></li>
                    </ul>
                    <form action="/applicantlogout?_method=DELETE" method="post">
                    <button>Logout</button>
                    </form>
                </div>
        
            </div>
  
  <div class="hero-profile">
            <form class="row g-3" action="/applicant/profile/{{data.applicant_id}}" method="post" enctype="multipart/form-data">
            
            {{#if messages.success}}
                <div class="auto-close alert alert-success">
                    <Span>{{messages.success}}</Span>
                </div>
            {{/if}}
    <div class="col-md-6">
    <label for="inputZip" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputZip" name="name" value="{{data.applicant_name}}">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email" value="{{data.applicant_email}}">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" value="{{data.applicant_password}}" disabled>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Phone" name="phone" value="{{data.applicant_phone}}">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Location" name="address" value="{{data.applicant_address}}">
  </div>

  <div class="col-md-6">
    <label for="formFile" class="form-label">Provide Your Resume</label>
  <input class="form-control" type="file" id="formFile" name="applicant_resume">
  </div>

  <div class="col-md-6">
    <label for="formFile" class="form-label">Update Profile Pic</label>
  <input class="form-control" type="file" id="formFile" name="profilePic">
  </div>
  <div class="col-12">
    <button class="btn btn-primary">UPDATE</button>
  </div>
</form>
    </div>
</div>
