  
    <div class="company-sidebar">
        <div class="top">
            <img src="/static/companyLogos/{{data.company_logo}}" alt="">
            <h1>{{data.company_name}} <span style="font-size: 12px;">({{#if verStatus}}Verified {{else}} Not Verified {{/if}})</span> </h1>
        </div>

        <div class="item">
            <ul>
                <li> <a href="/company/Dashboard">Dashboard</a> </li>
               <li> <a href="/company/profile/{{data.company_id}}">Profile</a> </li>
                <li> <a href="/company/postJobs">Post New Jobs</a> </li>
                <li> <a href="/company/applicants">Applicants</a> </li>
            </ul>
            <form action="/companylogout?_method=DELETE" method="post">
            <button class="button-name">Logout</button>
            </form>
        </div>

    </div>

    <div class="hero">    
        <div class="job-listing">
             {{#if messages.success}}
                <div class="auto-close alert alert-success">
                    <Span>{{messages.success}}</Span>
                </div>
            {{/if}}
            <table class="table caption-top">
                <caption>JOB LISTINGS</caption>
                <thead>
                  <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Posted Date</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Applicants</th>
                    <th scope="col" colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each joblist}}
                  <tr>
                    <th scope="row">{{indexInc @index ../currentPage 8}}</th>
                    <td>{{formatDate dateposted}}</td>
                    <td>{{job_title}}</td>
                    <td>{{applicantCount}}</td>
                    <td><button type="button" class="btn btn-info" onclick="window.location.href='/company/postJobs/edit/{{job_id}}'">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button></td>                    
                  </tr>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you Sure?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger" onclick="window.location.href='/company/deleteJob/{{job_id}}'">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </tbody>
              </table>
                

<!-- Modal -->

        </div>
          <div id="pagination_company" >
                
                  <a href="/company/dashboard?page={{prev currentPage}}">Previous</a>
                  {{#each (pagination totalPage)}}
                  <a href="/company/dashboard?page={{this}}">{{this}}</a>
                  {{/each}}
                  <a href="/company/dashboard?page={{next currentPage totalPage}}">Next</a>
                
                </div>
    </div>

<script src="/static/js/auto-close.js"></script>
<script src="/static/js/icon.js"></script>
</body>

</html>