 <div class="company-sidebar">
        <div class="top">
             <img src="/static/companyLogos/{{data.company_logo}}" alt="">
            <h1>{{data.company_name}} <span style="font-size: 12px;">({{#if data.isVerified}}Verified {{else}} Not Verified {{/if}})</span> </h1>
        </div>

        <div class="item">
            <ul>
                <li> <a href="/company/Dashboard">Dashboard</a> </li>
                <li> <a href="/company/profile/{{data.company_id}}">Profile</a> </li>
                <li> <a href="/company/postJobs">Post New Jobs</a> </li>
                <li> <a href="/company/applicants">Applicants</a> </li>
            </ul>
            <form action="/companylogout?_method=DELETE" method="post">
           <button class="button-name">Logout</button>
            </form>
        </div>

    </div>

<div class="hero">
     <div class="job-listing">
            <table class="table caption-top">
                <caption>APPLICANTS</caption>
                <thead>
                  <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Date Applied</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Applicant Name</th>
                    <th scope="col">Applicant Email</th>
                    <th scope="col">Applicant Phone</th>
                    <th scope="col">Applicant Address</th>
                    <th scope="col">Resume</th> 
                    <th scope="col" colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                   
                  {{#each applicationInfo}}
                 
                    <tr>
                      <th scope="row">{{inc @index}}</th>
                      <td>{{formatDate date_applied}}</td>
                      <td>{{job_title}}</td>
                      <td>{{applicant_name}}</td>
                      <td>{{applicant_email}}</td>
                      <td>{{applicant_phone}}</td>
                      <td>{{applicant_address}}</td>
                       <td><a href="/static/applicantResume/{{applicant_resume}}" target="_blank">{{#if applicant_resume}}Show Resume{{else}} {{/if}}</a></td> 
                      {{#if (checkProgress Progress)}}
                        <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#acceptModal">Accept</button></td>
                        <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectModal">Reject</button></td>
                        
                            <div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you Sure you want to accept the application?
                              </div>
                              <div class="modal-footer">
                               
                                <button type="button" class="btn btn-success" onclick="window.location.href='/company/applicants/accepted/{{application_id}}?jobtitle={{job_title}}'">Yes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              </div>
                            </div>
                          </div>
                             </div>
                            <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you Sure you want to reject the application?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='/company/applicants/rejected/{{application_id}}?jobtitle={{job_title}}'">Yes</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                  </div>
                                </div>
                              </div>
                        
                            </div>

                      {{else}}
                        <td><strong>{{Progress}}</strong></td>
                      {{/if}}
                      
                       </tr>
                    
                 

                  {{/each}}
                </tbody>
              </table>
        </div>
</div>




                  