
<div class="company-sidebar">
        <div class="top">
            <img src="/static/companyLogos/{{data.company_logo}}" alt="">
            <h1>{{data.company_name}} <span style="font-size: 12px;">({{#if verStatus}}Verified {{else}} Not Verified {{/if}})</span> </h1>
        </div>

        <div class="item">
            <ul>
                <li> <a href="/company/Dashboard">Dashboard</a> </li>
                <li> <a href="/company/profile/{{data.company_id}}">Profile</a> </li>
                <li> <a href="/company/postJobs">Post New Jobs</a> </li>
                <li> <a href="/company/applicants">Applicants</a> </li>
            </ul>
            <form action="/companylogout?_method=DELETE" method="post">
           <button class="button-name">Logout</button>
            </form>
        </div>
    </div>

     {{#if messages.error}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: absolute;right: 50px;">
        <strong>{{messages.error}}</strong>
        </div>
     {{/if}}

<h1 class="text-center fs-4">Enter Job Details</h1>

    {{#if isUpdate}}
    <form id="signUpForm" action="/company/postJobs/update/{{values.job_id}}" method="post">
    {{else}}
    <form id="signUpForm" action="/company/postJobs/{{data.company_id}}" method="post">
    {{/if}}
        <!-- start step indicators -->
        <div class="form-header d-flex mb-4">
            <span class="stepIndicator">Job Info</span>
            <span class="stepIndicator">Qualification</span>
            <span class="stepIndicator">Detail Info</span>
        </div>
        <!-- end step indicators -->
    
        <!-- step one -->


        <div class="step">
          
            <p class="text-center mb-4">Create your account</p>
            <div class="mb-3">
                <input type="email" placeholder="Job Title" oninput="this.className = ''" name="job_title" value="{{values.job_title}}">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Location" oninput="this.className = ''" name="location" value="{{values.job_location}}">
            </div>
            {{!-- <div class="mb-3">
                <input type="password" placeholder="Employment Type" oninput="this.className = ''" name="type">
            </div> --}}
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="type" onselect="this.className = ''">
                    <option hidden>Choose Employment Type</option>
                    <option value="full-time">Full-time</option>
                    <option value="part-time">Part-time</option>
                    <option value="contract">Contract</option>
                    <option value="freelance">Freelance</option>
                </select>
            </div>
        </div>
    
        <!-- step two -->
        <div class="step">
            <p class="text-center mb-4">Key requirements for this job</p>
            <div class="mb-3">
                <input type="text" placeholder="Industry" oninput="this.className = ''" name="industry" value="{{values.job_industry}}">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Skills Required" oninput="this.className = ''" name="skills" value="{{values.skillsreq}}">
            </div>
            <div class="mb-3">
                 <input type="text" placeholder="Salary" oninput="this.className = ''" name="salary" value="{{values.salary}}">           
            </div>
        </div>
    
        <!-- step three -->
        <div class="step">
            <p class="text-center mb-4">Brief Requirements</p>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Job Description" name="description">{{values.job_description}}</textarea>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Knowledge Required" name="knowledge">{{values.knowledge}}</textarea> 
            </div>
            <div class="mb-3">
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Education Required" name="education">{{values.education}}</textarea>   
            </div>
        </div>
  
        <div class="form-footer d-flex">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>

    </form>
